<article id="<%= post.layout %>-<%= post._id %>" class="article article-type-<%= post.layout %>" itemscope
  itemprop="blogPost">
  <header class="post-header">
    <%- partial('_post/title', {class_name: 'post-title', cache: true}) %>
    <%- partial('_post/meta', {class_name: 'post-meta', cache: true}) %>
    <%- partial('_post/category', {class_name: 'post-category', cache: true}) %>
  </header>
  <div class="post-content" itemprop="articleBody">
    <% if( post.excerpt && index ) { %>
    <%- post.excerpt %>
      <a class="more-link" href="<%- url_for(post.path) %>#more"><%- __('page.more') %></a>
    <% } else { %>
      <%- post.content %>
    <% } %>
  </div>
  <div id="post-separator" class="post-separator"></div>
  <% if( is_post() ) { %>
  <footer class="post-footer">
    <%- partial('_post/tag', {cache: true}) %>
    <%- partial('_post/share-links', {cache: true}) %>
  </footer>
  <% } %>
  <% if( !index ) { %>
    <%- partial('_post/nav') %>
    <%- partial('_post/toc') %>
  <% } %>
</article>
