<footer id="footer" class="wrapper">
  <div class="inner">
    <div class="footer-container">
      <div class="footer-links">
        <%- partial('_partial/social-links', {cache: true}) %>
      </div>
      <div class="footer-copyright">
        <span>Powered by <a href="https://hexo.io/" target="_blank"><b>Hexo</b></a> 🤖&copy; <a href="<%- theme.author_url %>" target="_blank"><b><%- theme.author %></b></a>,&nbsp;
          <%- theme.time %></span></br>
        <span>All content licensed under <b><a href="<%- theme.license_url %>"
              target="_blank"><%- theme.license %></a></b></span>
      </div>
    </div>
  </div>
</footer>
