<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title><%- head_title('-') %></title>
  <% if(config.keywords && (page.layout == 'index')){ %>
  <meta name="keywords" content="<%- config.keywords %>" />
  <% } %>
  <% if(config.author){ %>
  <meta name="author" content="<%- config.author %>" />
  <% } %>
  <link rel="apple-touch-icon" href="<%- url_for('logo.png') %>" />
  <meta name="msapplication-TileColor" content="#2b2b2b" />
  <meta name="msapplication-TileImage" content="<%- url_for('mstile-logo.png') %>" />
  <!-- Open Graph -->
  <% if(page.layout == 'index') { %>
    <%- open_graph({
      twitter_id: theme.twitter.id,
      description: config.description,
      url: config.url
    }) %>
  <% } %>
  <% if(is_category()) { %>
    <%- open_graph({
      twitter_id: theme.twitter.id,
      title: head_title('-'),
      description: site.data.cate_desc[page.category]
    }) %>
  <% } %>
  <% if(is_post() || (is_page() && page.layout != 'index')) { %>
    <%- open_graph({
      title: head_title('-'),
      image: post_cover(page),
      twitter_id: theme.twitter.id,
    }) %>
  <% } %>
  <!-- Icon -->
  <%- favicon_tag("favicon.ico") %>
  <!-- feed -->
  <%- feed_tag('atom.xml') %>
  <!-- build:js -->
  <%- js('js/pace.min') %>
  <!-- endbuild -->
  <!-- build:css -->
  <%- css('css/nook') %>
  <!-- endbuild -->
  <!-- algolia config -->
  <%- algolia_search_config() %>
  <meta property="algolia:label" data-input_placeholder="<%= __('algolia.input_placeholder') %>"
    data-hits_empty="<%= __('algolia.hits_empty') %>">
</head>
